<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/favourites.js"></script>
</head>

<body>
  <h1>Welcome to Save Point Games  🥔</h1>



  <h2>Available Games</h2>
  <ul>
    <% games.forEach(game => { %>
      <li>
        <h3><%= game.name %></h3>
        <p><strong>Price:</strong> $<%= (game.price_cents / 100).toFixed(2) %></p>
        <p><strong>Condition:</strong> <%= game.condition %></p>
        <p><strong>Description:</strong> <%= game.description %></p>
        <form action="/favourites?game_id=<%= game.id %>" method="POST" class = "favourites-form" data-favourite = "<%= game.id %>">
          <button type="submit">❤️ Favourite</button>
        </form>
      </li>

      <form action="/" method="GET">
        <label for="max_price">Max Price (in cents):</label>
        <input type="number" id="max_price" name="max_price" min="0">
        <button type="submit">Filter</button>
      </form>
      
      <!-- Mark as Sold Button -->
      <% if (!game.is_sold) { %>
        <form action="/games/sold/<%= game.id %>" method="POST">
          <button type="submit">✅ Mark as Sold</button>
        </form>
      <% } else { %>
        <span>✔ Sold</span>
      <% } %>


    <% }); %>
  </ul>

  <a href="/games/new">
    <button>Post game for sale</button>
  </a>
</body>

</html>